
.posicao-inicio {
    margin-top: ;
    margin-left: ;
}

.posicao-1 {
    margin-top: ;
    margin-left: ;
}

.posicao-2 {
    margin-top: ;
    margin-left: ;
}

.posicao-3 {
    margin-top: ;
    margin-left: ;
}

.posicao-4 {
    margin-top: ;
    margin-left: ;
}

.posicao-5 {
    margin-top: ;
    margin-left: ;
}

.posicao-6 {
    margin-top: ;
    margin-left: ;
}

.posicao-7 {
    margin-top: ;
    margin-left: ;
}

.posicao-8 {
    margin-top: ;
    margin-left: ;
}

.posicao-9 {
    margin-top: ;
    margin-left: ;
}

.posicao-10 {
    margin-top: ;
    margin-left: ;
}

.posicao-11 {
    margin-top: ;
    margin-left: ;
}

.posicao-12 {
    margin-top: ;
    margin-left: ;
}

.posicao-13{
    margin-top: ;
    margin-left: ;
}

.posicao-14 {
    margin-top: ;
    margin-left: ;
}

.posicao-15 {
    margin-top: ;
    margin-left: ;
}

.posicao-16 {
    margin-top: ;
    margin-left: ;
}

.posicao-17 {
    margin-top: ;
    margin-left: ;
}

.posicao-18 {
    margin-top: ;
    margin-left: ;
}

.posicao-19{
    margin-top: ;
    margin-left: ;
}

.posicao-20 {
    margin-top: ;
    margin-left: ;
}

.posicao-21 {
    margin-top: ;
    margin-left: ;
}

.posicao-22 {
    margin-top: ;
    margin-left: ;
}

.posicao-23 {
    margin-top: ;
    margin-left: ;
}

.posicao-24 {
    margin-top: ;
    margin-left: ;
}

.posicao-25 {
    margin-top: ;
    margin-left: ;
}

.posicao-26 {
    margin-top: ;
    margin-left: ;
}

.posicao-27 {
    margin-top: ;
    margin-left: ;
}

.posicao-28 {
    margin-top: ;
    margin-left: ;
}

.posicao-29 {
    margin-top: ;
    margin-left: ;
}

.posicao-30 {
    margin-top: ;
    margin-left: ;
}

.posicao-final {
    margin-top: ;
    margin-left: ;
}
